<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 error</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <style media="screen">
        blockquote {
            background: url("./images/x7maIok.png") no repeat scroll 0 0 transparent;
            border-radius: 5px 5px 0 0;
            border-top: 1px solid #DDDDDD;
            color: #666666;
            font-size: 13px;
            font-family: papel;
            width: 50%;
            height: 300px;
            left: -32px;
            top: -33px;
            position: relative;
            line-height: 22px;
            margin: 0 auto 0 auto;
            padding: 21px 45px 14px 50px;
        }

        body {
            background-image: url(./images/ffp72Fa.png);
        }

        @import url(http://fonts.googleapis.com/css?family=Mouse+Memoirs);
        h1 {
            font-family: 'Mouse Memoirs', sans-serif;
            text-align center;
            position: relative;
            width: 200px;s
        }

        h2 {
            font-size: 100px;
            font-family: 'Finger Paint', cursive;
            -webkit-transform: skew(-20deg) rotate(-8deg);
            -moz-transform: skew(-20deg) rotate(-8deg);
            -ms-transform: skew(-20deg) rotate(-8deg);
            -o-transform: skew(-20deg) rotate(-8deg);
            transform: skew(0deg) rotate(-8deg);
            text-align: center;
            color: skyblue;
            position: relative;
            left: -30px;
        }

        .lineas,
        .lineas:before,
        .lineas:after {
            background: url("./images/x7maIok.png") repeat-y scroll 0 0 transparent;
            border-radius: 5px 5px 0 0;
            height: 272px;
            border: 1px solid #ccc;
            box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.2);
        }

        .lineas {
            position: relative;
            width: 50%;
            padding: 2em;
            margin: 50px auto;
        }

        .lineas:before,
        .lineas:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -webkit-transform: rotateZ(2.5deg);
            -o-transform: rotate(2.5deg);
            transform: rotateZ(2.5deg);
            z-index: -1;
        }

        .lineas:after {
            -webkit-transform: rotateZ(-2.5deg);
            -o-transform: rotate(-2.5deg);
            transform: rotateZ(-2.5deg);
        }

        a {
            text-decoration: none;
            color: #666666;
        }

        a:hover {
            text-decoration: none;
            color: #073763;
            transition: .8s;
            -moz-transition: .8s;
            -webkit-transition: .8s;
        }
    </style>
</head>

<body>
    <div class="lineas">
        <blockquote class="tr_bq">
            <h1>- Opps! 404 Error -</h1>
            <h2> Sorry! Something went wrongs</h2>
            <h1>Back to <a href="/home">home</a></h1></blockquote>
    </div>

    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
