<form action="/video/upload" method="post" enctype="multipart/form-data">
<label>ADD A NEW FILE</label>
<input id="song" type="file" name="video" value="{{video}}">
<input type="submit" value="upload">
</form>
