<style media="screen">
  input{
    width: 100%;
    height: 200%;
    font-size: 100em;
  }
</style>
<a href="/add"><input type="button" name="name" value="Song"></a>
<br />
<br />
<a href="/video/add"><input type="button" name="name" value="Video"></a>
