<style media="screen">
  input{
    width: 93%;
    height: 200%;
    font-size: 100em;
  }
  .submit{
      background-color:#007a96;
      padding:12px 26px;
      color:#fff;
      font-size:14px;
      border-radius:2px;
      cursor:pointer;
      display:inline-block;
      margin-top:12px;
      margin-left: 24px;
      line-height:1;
  }
</style>
<a href="/add"><input class="submit" type="button" name="name" value="Song"></a>
<br />
<br />
<a href="/video/add"><input class="submit" type="button" name="name" value="Video"></a>
